<style>
    #col_key{
        width: 9em;
    }
    #col_value{
        width: 8em;
    }
    #col_describe{
        width: 20em;
    }
    #col_sort{
        width: 3em;
    }
    #col_action{
        width: 5em;
    }
    td.editing{
        position: relative;
        padding: 0;
        color: transparent;
    }
    td.editing .input-group{
        position: absolute;
        top: 3px;
        left: 0;
        min-width: 80px;
    }
</style>

<section class="panel">
    <header class="panel-heading custom-tab dark-tab">
        <ul class="nav nav-tabs">
            <li>
                <a href="{:U('Manage/setting_global')}">全局参数</a>
            </li>
            <li>
                <a href="{:U('Manage/setting_contact')}">联系方式</a>
            </li>
            <li class="active">
                <a>友情链接</a>
            </li>
        </ul>
    </header>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active">
                <table class="table table-hover table-bordered" id="tel-table">
                    <thead>
                    <tr role="row">
                        <th id="col_key" data-key="key" data-edit="text">友情链接名称</th>
                        <th id="col_value" data-key="value" data-edit="text">链接地址</th>
                        <th id="col_describe" data-key="describe" data-edit="text">描述</th>
                        <th id="col_sort" data-key="sort" data-edit="text">排序</th>
                        <th id="col_action">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="flinks" id="v">
                        <tr data-id="{$v.id}">
                            <td>{$v.key}</td>
                            <td>{$v.value}</td>
                            <td>{$v.describe}</td>
                            <td>{$v.sort}</td>
                            <td class="action"><a class="del-btn" href="javascript:;">删除</a></td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <button class="btn btn-primary" data-toggle="modal" data-target="#create-modal">添加友情链接</button>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        点击<code>单元格</code>编辑内容，点击<code>勾选按钮</code>保存！<br>
        <code>描述</code>作为备注使用（可为空，不在官网上显示）<br>
        <code>排序</code>越小，友情链接显示越靠前
    </div>
</section>
<div id="create-modal" class="modal fade in" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">添加友情链接</h5>
            </div>
            <div class="modal-body row">
                <div class="panel-body form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">友情链接名称：</label>
                        <div class="col-sm-10">
                            <input id="key" type="text" class="form-control" data-name="友情链接名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">链接地址：</label>
                        <div class="col-sm-10">
                            <input id="value" type="text" class="form-control" data-name="链接地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序：</label>
                        <div class="col-sm-2">
                            <input id="sort" type="text" class="form-control" data-name="排序">
                        </div>
                    </div>
                    <button id="contact-add" class="btn btn-primary">添加友情链接</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__JS__/xplugs/jquery.table-edit.js"></script>
<script>
    $(function() {
        var edit_table = EditTable({
            'table': '#tel-table',
            'save_url': "{:U('Manage/setting_save')}/type/2",
            'del_url': "{:U('Manage/setting_del')}/type/2",
        })

        $("#contact-add").submit("{:U('Manage/setting_add')}", function () {
            var data = $.check([
                {'target': '#key', 'rules': [$.rules.empty, $.rules.length(2, 15)]},
                {'target': '#value', 'rules': [$.rules.empty]},
            ]);
            if(data) {
                data.sort = $("#sort").val();
                data.type = 2;
            }
            return data;
        }, function (res, data) {
            if (res.success) {
                $("#create-modal").modal('hide');
                var $tr = $([
                    '<tr data-id="' + res.success + '">',
                    '<td>' + data.key + '</td>',
                    '<td>' + data.value + '</td>',
                    '<td></td>',
                    '<td>' + (data.sort || 0) + '</td>',
                    '<td class="action"><a class="del-btn" href="javascript:;">删除</a></td>',
                    '</tr>',
                ].join(''));
                $("#key,#value,#sort").val('');
                $("#tel-table tbody").append($tr)
                edit_table.row_bind_event($tr);
            }
        })
    })
</script>