<style>
    .layui-elem-quote{
        background-color: #fff;
        border-color: #F1C232;
        border-width: 6px;
        padding: 0 15px;
        font-size: 18px;
        line-height: 1.5;
    }
    .img-block {
        pointer-events: none;
        width: 100%;
    }
    .layui-form-label{
        text-align: left;
    }
    .page-leave_msg .layui-btn{
        width: 100%;
        background-color: #F1C232;
        border-radius: 20px;
    }
    .layui-form-checked, .layui-form-checked:hover{
        border-color: #F1C232;
    }
    .layui-form-checked span, .layui-form-checked:hover span{
        background-color: #F1C232;
    }
    .layui-form-checked i, .layui-form-checked:hover i{
        color: #F1C232;
    }
</style>
<div class="layui-tab-content page-leave_msg">
    <blockquote class="layui-elem-quote">
        微家校诚邀加盟，共享中小学生智慧教育+家校沟通市场
    </blockquote>
</div>
<img class="img-block" src="__IMG__/agent/1.jpg">
<div id="leave_msg1" class="layui-tab-content page-leave_msg">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" required  lay-verify="required" placeholder="请输入您的姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="text" name="mobile" required lay-verify="required" placeholder="请输入您的联系方式" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">咨询内容</label>
            <div class="layui-input-block">
                <input type="checkbox" name="msg" title="想详细了解">
                <input type="checkbox" name="msg" title="请给我寄资料">
                <input type="checkbox" name="msg" title="我比较感兴趣">
                <input type="checkbox" name="msg" title="有什么扶持">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-big" lay-submit lay-filter="leave_msg1">获取资料</button>
        </div>
    </form>
</div>
<img class="img-block" src="__IMG__/agent/2.jpg">
<img class="img-block" src="__IMG__/agent/3.jpg">
<img class="img-block" src="__IMG__/agent/4.jpg">
<img class="img-block" src="__IMG__/agent/5.jpg">
<img class="img-block" src="__IMG__/agent/6.jpg">
<div id="leave_msg2" class="layui-tab-content page-leave_msg">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" required  lay-verify="required" placeholder="请输入您的姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="text" name="mobile" required lay-verify="required" placeholder="请输入您的联系方式" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">咨询内容</label>
            <div class="layui-input-block">
                <input type="checkbox" name="msg" title="想详细了解">
                <input type="checkbox" name="msg" title="请给我寄资料">
                <input type="checkbox" name="msg" title="我比较感兴趣">
                <input type="checkbox" name="msg" title="有什么扶持">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-big" lay-submit lay-filter="leave_msg2">获取资料</button>
        </div>
    </form>
    <a href="tel:{$kefu_mobile}" class="layui-btn layui-btn-big"><img src="__IMG__/agent/phone.png">接通微家校热线</a>
</div>
<img class="img-block" src="__IMG__/agent/7.jpg">
<script>
    layui.use('form', function() {
        var tip;
        var form = layui.form();
        form.on('submit(leave_msg1)', submit);
        form.on('submit(leave_msg2)', submit);
        function submit(data) {
            var submitform = $(this).parents('form')
            if (tip) return;
            var msg = $.map($("input[name='msg']:checked", submitform), function (t, i) {
                return $(t).attr('title')
            }).join('\n');
            if (msg) {
                var _data = data.field || {};
                _data.msg = msg;
                tip = layer.msg('请稍等...', {shade: .38, time: 0});
                $.post('', _data, function (res) {
                    if (res.success) {
                        layer.msg('留言成功！', {shade: .38, icon: 1});
                        $("input").val('')
                    } else {
                        layer.msg(res.error || '未知错误，请重试！', {icon: 5, anim: 6});
                    }
                    layer.close(tip);
                    tip = null;
                }, 'json')
            } else {
                layer.msg('请勾选咨询内容', {icon: 5, anim: 6});
            }
            return false;
        }
    });
</script>