{__NOLAYOUT__}
<include file="Default/Layout/header" />

    <!--<link rel="shortcut icon" href="#" type="image/png">-->
    <link href="__CSS__/style.video.css"  rel="stylesheet" />
    <link href="__CSS__/style.index.css"  rel="stylesheet" />

</head>

<body>

<include file="Default/Layout/navbar" />
<include file="Default/Layout/fixedbar" />
<div class="carousel slide" id="carousel-index" data-interval="2500">
    <ol class="carousel-indicators">
        <volist name="banner" id="v">
            <li data-slide-to="{$key}" data-target="#carousel-index"></li>
        </volist>
    </ol>
    <img style="width: 100%" src="__IMG__/common/banner.png">
    <div class="carousel-inner">
        <volist name="banner" id="v">
            <a class="item" <notempty name="v.link">href="{$v.link}" target="_blank"</notempty>>
            <img alt="{$v.imgalt}" src="{$v.imgurl}"/>
            <div class="carousel-caption">
                <notempty name="v.title"><h4>{$v.title}</h4></notempty>
                <notempty name="v.content"><p>{$v.content}</p></notempty>
            </div>
            </a>
        </volist>
    </div>
    <a class="left carousel-control" href="#carousel-index" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#carousel-index" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="container-fluid entry-container">
    <div class="row">
        <a class="col-lg-3 col-sm-6 col-xs-12 col-table" href="{:U('Index/edu_bureau')}">
            <div class="col-cell left-cell">
                <img src="__IMG__/index/entry/1.png">
            </div>
            <div class="col-cell">
                <h3>教育局</h3><br>
                <p>三通二平台 助力智慧教育</p>
            </div>
        </a>
        <a class="col-lg-3 col-sm-6 col-xs-12 col-table" href="{:U('Index/agent')}">
            <div class="col-cell left-cell">
                <img src="__IMG__/index/entry/2.png">
            </div>
            <div class="col-cell">
                <h3>代理商</h3><br>
                <p>携手微家校 进军校园市场</p>
            </div>
        </a>
        <a class="col-lg-3 col-sm-6 col-xs-12 col-table" href="{:U('Index/school')}">
            <div class="col-cell left-cell">
                <img src="__IMG__/index/entry/3.png">
            </div>
            <div class="col-cell">
                <h3>学校</h3><br>
                <p>解决校园安全问题 联通家校互动</p>
            </div>
        </a>
        <a class="col-lg-3 col-sm-6 col-xs-12 col-table" href="{:U('Index/trade_union')}">
            <div class="col-cell left-cell">
                <img src="__IMG__/index/entry/4.png">
            </div>
            <div class="col-cell">
                <h3>行业联盟</h3><br>
                <p>校园设备供应商 与您同行</p>
            </div>
        </a>
    </div>
</div>

<div class="container-fluid info-container">
    <div class="row">
        <div class="col-md-4 col-sm-12 news-preview">
            <h3>新闻中心</h3>
            <volist name="news" id="v">
                <a class="media" href="{:U('News/article',array('id'=>$v['id']))}">
                    <div class="media-left">
                        <empty name="v.thumb">
                            <img class="lazy" data-original="__IMG__/news/thumb.jpg" alt="{$v.alt}">
                            <else/>
                            <img class="lazy" data-original="{$v.thumb}" alt="{$v.alt}">
                        </empty>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{$v.title}</h4>
                        <p>{$v.brief}</p>
                    </div>
                </a>
            </volist>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>宣传视频</h3>
            <a class="video-thumb">
                <div class="play-box">
                    <img src="__IMG__/common/play_btn.png">
                </div>
                <img src="{$video.thumb}">
            </a>
        </div>
        <div class="col-md-4 col-sm-12 summary-box">
            <h3>远磐概述</h3>
            <img class="lazy" data-original="__IMG__/index/place.jpg">
            杭州远磐互联科技有限公司（简称远磐科技）是经杭州市滨江区政府批准入驻智慧E谷，围绕国家教育信息化、“三通两平台”
            落地开发的专业软件服务商，是国家大力扶持的智慧教育产业的领先单位，也是国内最具影响力的教育信息化企业之一。<br>
            远磐科技秉承“关爱学生安全成长”为宗旨，依托强大的技术核心资源，不断完善产品体系，扩大服务范围，形成以
            微家校APP和电子学生证为核心的“微家校”服务项目。截止2016年6月，微家校项目已覆盖全国十余个省份，签约了4000多
            所学校，40多万人入驻微家校APP。同时与中国移动、中国联通两大通信服务商建立长期战略合作伙伴关系，让40余万家长
            不再为孩子的出行安全担忧；让10000多名老师实现轻松管理学生；让20余万留守儿童得到来自父母的关爱。<br>
            远磐科技致力于解决中小学教育问题，不断为广大学生家长提供最优质的服务，让家长放心，让老师安心，让学校开心！<br>
        </div>
    </div>
</div>
<div id="willesPlay" style="display: none"></div>
<script src="__JS__/jquery.willesplay.min.js"></script>
<script>
    $(function(){
        $("#carousel-index .carousel-indicators li").eq(0).addClass('active');
        $("#carousel-index .carousel-inner .item").eq(0).addClass('active');

        $('#carousel-index').carousel()

        var video = $("#willesPlay").video();
        $(".play-box").click(function(){
            var width = $(window).width();
            if(width > 992) width *= 0.62;
            else width -= 30;
            layer.open({
                type: 1,
                title: null,
                area: [width + 'px'], //宽高
                content: $("#willesPlay"),
                resize:false,
            });
            $("#willesPlay").parent().attr("id",'video-box')

            video.play("{$video.url}", "{$video.name}", $(this));

        })
    })
</script>
<include file="Default/Layout/footer" />