<style>
    .banner{
        height: 766px;
        background-repeat: repeat;
        background-size: auto 100%;
        background-position: center;
    }
    .banner .h1-banner{
        margin-top: 4em;
        margin-bottom: 2em;
        text-shadow:#000 1px 0 1px,#000 0 1px 1px,#000 -1px 0 1px,#000 0 -1px 1px;
        -webkit-text-shadow:#000 1px 0 1px,#000 0 1px 1px,#000 -1px 0 1px,#000 0 -1px 1px;
        -moz-text-shadow:#000 1px 0 1px,#000 0 1px 1px,#000 -1px 0 1px,#000 0 -1px 1px;
    }
    .banner .h2-banner{
        color: #fff;
        font-weight: bold;
        text-shadow:#690 1px 0 2px,#690 0 1px 2px,#690 -1px 0 2px,#690 0 -1px 2px;
        -webkit-text-shadow:#690 1px 0 2px,#690 0 1px 2px,#690 -1px 0 2px,#690 0 -1px 2px;
        -moz-text-shadow:#690 1px 0 2px,#690 0 1px 2px,#690 -1px 0 2px,#690 0 -1px 2px;
    }

    .container-1{
        background: #e0ebe0;
        width: 100%;
    }
    .container-1,.container-2{
        height: 100vh;
        table-layout: fixed;
    }
    .container-1 .title,.container-2 .title{
        white-space: nowrap;
        width: 250px;
        text-align: center;
    }
    .container-1 .bg,.container-2 .bg{
        width: 100%;
    }
    .container-1 h1,.container-2 h1{
        color: #fff;
        margin: 0;
        padding: 1.5em 0;
        font-weight: bold;
    }
    .container-1 .title-en,.container-2 .title-en{
        line-height: 2;
        padding: 2em 1em;
        vertical-align: top;
    }
    .container-1 .title-en small,.container-2 .title-en small{
        font-size: 38.2%;
        color: inherit;
    }
    .container-1 .title,.container-1 .title-en{
        border-right: 1px solid #c4df9b;
    }
    .container-1 .content,.container-2 .content{
        padding: 20px 30px;
        font-size: 20px;
        font-weight: 100;
        line-height: 1.6;
    }
    .container-2{
        background: #f5ebe0;
        border: 1px solid #e5caaf;
        width: 100%;
    }
    .container-2 .title{
        background: #cc9966;
    }
    .container-2 .title-en{
        color: #cc9966;
    }
    .container-2 .title,.container-2 .title-en{
        border-left: 1px solid #e5caaf;
    }

    .container-3 .container{
        position: relative;
        padding: 50px 0;
        text-align: center;
    }
    .container-3 .block{
        display: inline-block;
        margin: 1em 2em;
        padding: 1em;
        background: #4cb7e4;
        background: rgba(0,152,216,.75);
        border-radius: .5em;
        color: #fff;
        font-size: 20px;
    }
    .container-4{
        background-position: left bottom;
        margin-bottom: 50px;
    }
    .container-4 h3{
        margin: 50px 0;
    }
    .container-4 a{
        margin: 10px;
        color: #999;
    }
    @media screen and (max-width: 1440px)
    {
        .banner {
            height: 545px;
        }
    }
    @media screen and (max-width: 1170px)
    {
        .banner {
            height: 440px;
        }
        .container-3 .block{
            font-size: 18px;
        }
    }
    @media screen and (max-width: 991px)
    {
        .container-3 .block{
            font-size: 14px;
        }
    }
    @media screen and (max-width: 768px)
    {
        .banner {
            height: 385px;
        }
        .banner .h1-banner{
            margin-top: 5em;
        }
        .container-1,.container-2{
            height: auto;
        }
        .container-1 .title, .container-2 .title{
            width: 135px;
        }
        .container-1 .content,.container-2 .content{
            font-size: 12px;
            padding: 10px 0;
        }
        .container-3 .block{
            margin: .5em 1em;
            padding: .5em;
        }
    }
    @media screen and (max-width: 480px)
    {
        .banner {
            height: 280px;
        }
        .banner .h1-banner{
            margin-top: 4em;
        }
    }
    @media screen and (max-width: 360px)
    {
        .banner .h1-banner{
            margin-top: 5em;
        }
    }
    .banner{
        height: 100vh;
    }
</style>
<div class="banner text-center img-delay scroll-block" data-bg="__IMG__/index/trade_union/bg.jpg">
    <div class="container">
        <h1 class="txt-green h1-banner">“微家校”邀您共建教育生态圈</h1>
        <h1 class="h2-banner">开放合作　拥抱共赢</h1>
    </div>
</div>
<table class="container-1 scroll-block">
    <tr style="height: 0">
        <td class="title bg-green-h"><h1 class="h2-banner">我们在路上</h1></td>
        <td class="bg img-delay bg-cover" data-bg="__IMG__/index/trade_union/1_1.jpg"></td>
    </tr>
    <tr>
        <td class="title-en text-right"><h2 class="h2-banner txt-green-h"><strong>We</strong><br><small>ARE ON THE ROAD</small></h2></td>
        <td class="content">
            <div class="col-sm-8">
                <p>“微家校”利用互联网技术、大数据应用技术，通过软硬件结合解决校园安全管理问题，为教育部门、学校、教师、
                    家长提供教学管理、安全管理、家校互动等教育信息化平台服务。</p><br>
                <p>2015年9月，“中国关心下一代工作委员会”联合“中国儿童少年基金会”发起大型公益行动，目标为全国10000所
                    学校免费捐献“微家校”教育信息平台。</p><br>
                <p>截至2016年6月，“微家校”已成功为全国4000余所学校、60余万师生家长提供教育信息化平台服务，日活跃率在
                    60%以上。</p><br>
                <p>“微家校”扎根于教学、安全、家校领域，以雄厚的研发、推广、运营实力赢得了用户的认可！</p>
            </div>
        </td>
    </tr>
</table>
<table class="container-2 scroll-block">
    <tr style="height: 0">
        <td class="bg img-delay bg-cover" data-bg="__IMG__/index/trade_union/2_1.jpg"></td>
        <td class="title"><h1 class="h2-banner">胜利者同盟</h1></td>
    </tr>
    <tr>
        <td class="content">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <p>“微家校”以打造全面完善的教育生态平台为目标，以实现国家关于教育信息化建设并完善“三通两平台”的
                    教育方针为使命，邀请您加入“胜利者同盟”。</p><br>
                <p>在“胜利者同盟”，我们以全面开放的心态，共享教育渠道、资源，实现合作共赢！</p><br>
                <p>如果您也像我们一样，执着于某一个教育垂直领域，不做到最好誓不罢休。</p><br>
                <p>如果您也像我们一样，坚持在中国下一代教育事业，全心贡献自己的力量。</p><br>
                <p>那么加入“胜利者同盟”,我们将全面开放“微家校”极具用户粘性的生态平台，与您拥抱成功！</p>
            </div>
        </td>
        <td class="title-en"><h2 class="h2-banner"><strong>The</strong><br><small>WINNER ALLIANCE</small></h2></td>
    </tr>
</table>

<div class="container-3 img-delay bg-cover scroll-block" data-bg="__IMG__/index/trade_union/3_1.jpg">
    <div class="container">
        <div class="block">在线教育资源</div>
        <div class="block">在线学习测评</div>
        <div class="block">数字教材教辅</div>
        <div class="block">数字研究机构</div>
        <div class="block">培训辅导机构</div>
        <div class="block">安全相关机构</div>
        <div class="block">校园安全设备</div>
        <div class="block">智能穿戴设备</div>
        <div class="block">教学硬件设备</div>
        <div class="block">品牌宣传合作</div>
        <div class="block">C端商家入驻</div>
        <div class="block">其他合作方向</div>
    </div>
</div>

<div class="container-4 scroll-block">
    <div class="container">
        <h3 class="txt-blue-h text-center"><strong>合作单位</strong></h3>
        <div class="row friendly-link underline text-center">
            <a target="_blank" href="http://www.10086.cn/">中国移动</a>
            <a target="_blank" href="http://www.chinaunicom.com.cn/">中国联通</a>
            <a target="_blank" href="http://www.zxxk.com/">学科网</a>
            <a target="_blank" href="http://www.wenxiang.org/">北京文香</a>
            <a target="_blank" href="http://www.edusoho.com/">杭州阔知</a>
        </div>
    </div>
</div>

<div class="container-leave-msg">
    <div class="container">
        <h4>
            “微家校”利用互联网技术、大数据应用技术，以平台为基础，立足于为教育主管部门、学校提供持续性的专业服务。<br>
            感谢您在教育事业上的坚持，希望我们一起努力，携手共进，谢谢！<br>
            <div class="text-right">——微家校 邱万钧</div>
        </h4>
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">姓名：</div>
                    <input id="name" class="form-control" type="text" data-name="您的称呼" placeholder="请输入您的姓名">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">电话：</div>
                    <input id="mobile" class="form-control" type="text" data-name="您的联系方式" placeholder="请输入您的电话">
                </div>
                <div class="input-group">
                    <textarea id="msg" class="form-control" rows="5" placeholder="留言"></textarea>
                </div>
            </div>
        </div>
        <h6 class="text-danger">我们郑重承诺将尊重您的隐私，并承诺为您保密！</h6>
        <button id="{$submit_id}" class="btn" type="button">提交留言</button>
    </div>
</div>

<script>
    $(".navbar-main").addClass('absolute');
    $(".navbar-path").addClass('absolute deep suspend');
    !is_xs() && $.scrollBlock();
</script>