.banner{
    height: 800px;
}

@media screen and (max-width: 1440px)
{
    .banner {
        height: 600px;
    }
}
@media screen and (max-width: 1200px)
{
    .container-1 .item .txt-bg {
        height: 15em;
    }
}
@media screen and (max-width: 1170px)
{
    .banner {
        height: 487px;
    }
}
@media screen and (max-width: 991px)
{
    .container-1 h1{
        font-size: 38px;
    }
    .container-1 h2{
        font-size: 20px;
    }
    .container-1 .item{
        margin: 20px 0;
    }
    .container-1 .item .txt-bg {
        height: auto;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 768px)
{
    .banner {
        height: 300px;
    }
    h1{
        font-size: 30px !important;
    }
    .container-1 .block2 img{
        float: left;
        margin-right: 15px;
    }
    .container-1 .block2 h3{
        font-size: 20px;
    }
    .container-1 .block2 .text-right,.container-1 .block2 .text-right p{
        text-align: left;
    }
    .container-2 .col-cell{
        padding: 5px 10px;
    }
    .container-2 h3.col-cell{
        font-size: 18px;
    }
    .container-2 p.col-cell{
        padding-right: 45px;
    }
    .container-2 p.col-cell:after{
        border-left-width: 50px;
    }
}
@media screen and (max-width: 480px) {
    .banner {
        height: 200px;
    }
}