<style>
    .news-list{
        margin-bottom: 50px;
    }
    .news-list>h4{
        font-family: "黑体", sans-serif;;
        border-bottom: 1px solid #aaa;
        display: inline-block;
    }
    .news-list .news-list-body{
        margin-top: 20px;
        min-height: 300px;
        /*display: none;*/
    }
    .news-list .media{
        position: relative;
    }
    .news-list .media-left{
        max-height: 80px;
    }
    .news-list .media-left img{
        width: 140px;
        background: #168EE1;
    }
    .news-list .media-heading{
        font-size: 18px;
        color: #404040;
    }
    .news-list .media-body p{
        max-height: 3em;
        color: #787878;
        overflow: hidden;
        position: relative;
        margin-top: 1em;
        font-size: 13px;
    }
    .news-list .media-body p:after{
        content: "...";
        position: absolute;
        right: 0;
        bottom: 0;
        background: #fff;
        padding: 0 4px;
    }
    .news-list .media-body .time {
        position: absolute;
        right: 0;
    }
</style>
<div class="container news-list">
    <h4>{$typestr}</h4>
    <div class="news-list-body"></div>
    <nav id="page"></nav>
</div>
<script src="__JS__/jquery.page-number.js"></script>
<script>
    $(function() {
        var page_num = $("#page").PageNumber(0,
                function (page, pcount) {
                    return (page.parents('.page-box').width() / (20 + Math.ceil(Math.log10(pcount)) * 12) - 4) >> 0;
                }, function (p) {
                    if (p == undefined) p = page_num.index;
                    else if (isNaN(p)) return;
                    $("#article-list").addClass('loading');
                    $.get("{:U('News/article_list')}", {p: p, type: '{$type}'}, function (res) {
                        if (!res.list) return;
                        $(".news-list-body").html('');
                        $.each(res.list, function (i, v) {
                            var link = "{:U('News/article')}/id/" + v.id;
                            var media = $([
                                '<div class="media">',
                                '<a class="media-left" href="' + link + '">',
                                '<img src="' + (v.thumb || '__IMG__/news/thumb.jpg') + '" alt="'+ v.alt +'">',
                                '</a>',
                                '<div class="media-body">',
                                '<a class="media-heading" href="' + link + '">' + v.title + '</a>',
                                '<p>' + v.brief + '</p>',
                                '<span class="time">' + v.ctime + '</span>',
                                '</div>',
                                '</div>',
                            ].join(''));
                            $(".news-list-body").append(media);
                            $(".news-list-body").append('<hr>');
                        });
                        //$(".news-list-body").slideDown();
                        page_num.refresh(p, res.count);
                        $(".top").click();
                    }, 'json')
                })
        page_num.loadindex();
    })
</script>