<style>
    table label{
        font-weight: inherit;
        display: block;
        margin-bottom: 0;
    }
    table tr{
        cursor: default;
    }
    table #checkall{
        width: 6em;
    }
    table #col-name{
        width: 6em;
    }
    table #col-ip{
        width: 9em;
    }
    table #col-mobile{
        width: 10em;
    }
    table #col-msg{
        width: 6em;
        text-align: center;
    }
    table #col-device{
        width: 5em;
        text-align: center;
    }
    table #col-time{
        width: 12em;
    }
    table .time{
        font-size: 13px;
    }
    table #col-status{
        width: 4em;
    }
    table #col-action{
        width: 10em;
    }
    table a{
        cursor: pointer;
        font-size: 13px;
    }
    table a:hover{
        color: #65CEA7;
    }
    table a.setread{
        margin-right: 20px;
    }
    table a.del:hover{
        color: #d9534f;
    }
    #msg_info{
        margin-top: 50px;
    }
    #del-btn{
        margin-left: 20px;
    }
</style>
<section class="panel">
    <header class="panel-heading custom-tab dark-tab">
        <ul class="nav nav-tabs">
            <li id="tab1">
                <a href="#msg-list"  data-toggle="tab">留言列表</a>
            </li>
            <li id="tab2" class="hidden">
                <a href="#msg-info"  data-toggle="tab">留言详情</a>
            </li>
        </ul>
    </header>
    <div class="panel-body">
        <div class="tab-content">

            <div class="tab-pane" id="msg-list">
                <table class="table table-hover general-table">
                    <thead>
                    <tr>
                        <th id="checkall"><label><input type="checkbox"> 编号</label></th>
                        <th id="col-name">留言人</th>
                        <th id="col-ip">留言IP</th>
                        <th id="col-mobile">联系方式</th>
                        <th id="col-msg">留言内容</th>
                        <th id="col-device">设备</th>
                        <th id="col-time">留言时间</th>
                        <th id="col-status">状态</th>
                        <th id="col-action">操作</th>
                    </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
                <div class="button-box col-sm-4">
                    <button id="del-all-btn" type="button" class="btn btn-danger hidden">删除选中</button>
                </div>
                <div class="col-sm-8 page-box">
                    <div class="dataTables_paginate paging_bootstrap pagination"></div>
                </div>
            </div>

            <div class="tab-pane" id="msg-info">
                <div class="container-fluid">
                    <div class="row dl-horizontal" id="msg_info">
                        <dl>
                            <dt>留言人：</dt>
                            <dd id="name"></dd>
                        </dl>
                        <dl>
                            <dt>联系方式：</dt>
                            <dd id="mobile"></dd>
                        </dl>
                        <dl>
                            <dt>留言内容：</dt>
                            <dd id="msg"></dd>
                        </dl>
                        <dl>
                            <dt>留言时间：</dt>
                            <dd id="ctime"></dd>
                        </dl>
                    </div>
                    <hr>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 btn-box">
                        <button id="back-btn" type="button" class="btn btn-primary">返回</button>
                        <button id="del-btn" type="button" class="btn btn-danger">删除</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="__JS__/xplugs/jquery.page-number.js"></script>
<script>
    $(function() {
        var u = location.href;
        var index = u.substr(u.indexOf('#') + 1) >> 0;
        if (!index) $('#tab1 a').tab('show');

        var page_num = $(".dataTables_paginate").PageNumber('{$page_index}',
                function (page, pcount) {
                    return (page.parents('.page-box').width() / (20 + Math.ceil(Math.log10(pcount)) * 12) - 4) >> 0;
                }, function (p) {
                    if (p == undefined) p = page_num.index;
                    else if (isNaN(p)) return;
                    $("#article-list").addClass('loading');
                    $.get("{:U('Thing/leave_msg_list')}", {p: p}, function (res) {
                        $("#article-list").removeClass('loading')
                        if (!res.list) {
                            $("#article-list").addClass('loadfail');
                            return;
                        }
                        $("#tbody").text('');
                        $.each(res.list, function (i, v) {
                            var tr = $([
                                '<tr>',
                                '<td><input type="checkbox"> ' + v.id + '</td>',
                                '<td>' + v.name + '</td>',
                                '<td>' + v.ip + '</td>',
                                '<td>' + v.mobile + '</td>',
                                '<td class="text-center">' + (v.msg ? '<a class="read" href="#' + v.id + '">查看详情</a>' : '（空）') + '</td>',
                                '<td class="text-center">' + (function(d){
                                    switch (d) {
                                        case '0':return '电脑';break;
                                        case '1':return '手机';break;
                                        default:return '未知';break;
                                    }
                                })(v.device_type) + '</td>',
                                '<td class="time">' + v.ctime + '</td>',
                                v.status == 0 ? '<td class="text-primary">未读</td>' : '<td class="text-muted">已读</td>',
                                '<td>'+ (v.status == 0 ?'<a class="setread">标为已读</a>':'') +'<a class="del">删除</a></td>',
                                '</tr>'
                            ].join(''));
                            var input = $("input", tr);
                            tr.click(function (e) {
                                var target = $(e.target);
                                if (target.is('input') || target.is('a'))return;
                                input.prop('checked', !input.is(':checked'));
                            })
                            $(".read", tr).click(function () {
                                setinfo(v);
                                index = v.id;
                            })
                            var setread = $(".setread", tr).click(function () {
                                if (v.status == 0) {
                                    $.post("{:U('Thing/leave_msg_setread')}", {id: v.id}, function (res) {
                                        if (res.success) page_num.loadpage()
                                        else $.warn(res.error || "标记失败，未知错误！");
                                    }, 'json');
                                }
                            })
                            $(".del", tr).click(function () {
                                delmsg(v.name, v.id)
                            })
                            $("#tbody").append(tr);
                            if(index == v.id){
                                setinfo(v);
                            }
                        });
                        page_num.refresh(p, res.count);
                    }, 'json')
                });

        page_num.loadindex();
        function setinfo(v) {
            $("#name").text(v.name);
            $("#mobile").text(v.mobile);
            $("#msg").html(v.msg.replace(/\n/g,'<br>'));
            $("#ctime").text(v.ctime);
            $("#tab2").removeClass('hidden');
            $('#tab2 a').tab('show');
        }

        function delmsg(name,id,success) {
            $.confirm('你确定要删除 ' + name + ' 的留言？',function(){
                $.post("{:U('Thing/leave_msg_del')}", {id: id}, function (res) {
                    if (res.success) {
                        page_num.loadpage()
                        success && success();
                    }
                    else $.error(res.error || "删除失败，未知错误！");
                }, 'json');
            })
        }

        $("#del-btn").click(function() {
            delmsg($("#name").text(), index,function(){
                $("#back-btn").click();
            });
        })

        $("#tab1").click(function () {
            location.href = '#';
            if (page_num.index == null) page_num.loadindex();
            $("#tab2").addClass('hidden');
            index = null;
        })

        $("#back-btn").click(function(){
            $('#tab1 a').tab('show');
            $("#tab1").click();
        })

        $('#checkall').click(function () {
            var check = $('input', $(this)).is(':checked')
            $("#tbody input").prop('checked', check);
        })
    })
</script>