<link href="__CSS__/style.mall.css"  rel="stylesheet" />
<div class="container-info" id="c-detail-info">
    <div class="container">
        <div class="col-sm-6">
            <div class="col-table">
                <div class="col-cell preview">
                    <img>
                </div>
                <div class="col-cell thumb">
                    <volist name="img_list" id="v">
                        <img src="{$v.thumb}" data-img="{$v.imgurl}"/>
                    </volist>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h4><strong>{$product.name}</strong></h4>
            <h6>{$product.brief}</h6>
            <div class="info">
                <p>售价<span class="price key">￥{$product.price}</span></p>
            </div>
            <div class="form-block">
                <p class="col-table">
                    <span class="table-cell key">数量</span>
                    <span class="input-group number-box" data-max="9999" data-min="1">
                        <span class="input-group-addon min"></span>
                        <input id="count" class="form-control" type="text" value="1">
                        <span class="input-group-addon max"></span>
                    </span>
                </p>
                <div class="btn btn-buy btn-lg">立即购买</div>
            </div>
        </div>
    </div>
</div>

<div id="c-detail-detail">
    <div class="container">
        <h3>商品详情</h3>
        {$product.details}
    </div>
</div>
<script src="__JS__/custom.mall.js"></script>
<script>
    $(function() {
        $(".container-info .thumb img").each(function (i) {
            var $t = $(this), timer;
            var preview_img = $t.data('img');
            $t.hover(function () {
                timer = setTimeout(setimg, 300);
            }, function () {
                clearTimeout(timer);
            })
            function setimg() {
                $(".container-info .preview img").attr('src', preview_img)
            }

            i == 0 && setimg();
        })

        $(".number-box").numberBox();

        $(".btn-buy").submit("{:U('Mall/add_to_cart')}",function(){
            var data = $.check([
                {'target': '#count', 'name': '数量', 'rules': $.rules.number(0, 10000)},
            ]);
            if (data) {
                data.id = '{$id}';
                data.types = '';
            }
            return data;
        },function(res) {
            if (res.success) {
                location.href = "{:U('Mall/confirm_order')}/pid/{$id}";
            }
        })
    })
</script>