<link href="__CSS__/style.mall.css"  rel="stylesheet" />
<div class="carousel slide" id="carousel-index" data-interval="2500">
    <ol class="carousel-indicators">
        <volist name="banner" id="v">
            <li data-slide-to="{$key}" data-target="#carousel-index"></li>
        </volist>
    </ol>
    <div class="carousel-inner">
        <img style="width: 100%" src="__IMG__/common/banner.png">
        <volist name="banner" id="v">
            <div class="item">
                <img alt="{$v.imgalt}" src="{$v.imgurl}"/>
                <div class="carousel-caption">
                    <notempty name="v.title"><h4>{$v.title}</h4></notempty>
                    <notempty name="v.content"><p>{$v.content}</p></notempty>
                </div>
            </div>
        </volist>
    </div>
    <a class="left carousel-control" href="#carousel-index" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#carousel-index" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="container">
    <h3 class="title">商品</h3>
    <div class="row list-row">
        <volist name="product_list" id="v">
            <div class="col-md-3 col-sm-4 col-xs-6 p-item">
                <a class="product_item" href="{:U('Mall/detail')}/id/{$v.id}">
                    <empty name="v.thumb">
                        <img src="__IMG__/mall/thumb.jpg">
                        <else />
                        <img src="{$v.thumb}" />
                    </empty>
                    <h4>{$v.name}</h4>
                    <h5>￥{$v.price}</h5>
                </a>
            </div>
        </volist>
    </div>
</div>

<div id="c-index-top">
    <div class="container">
        <div class="row top-row">
            <div class="col-lg-4 col-xs-6 p-item">
                <div class="title-img">
                    <img src="__IMG__/mall/hot.jpg">
                </div>
            </div>
            <volist name="product_top" id="v">
                <div class="col-lg-4 col-xs-6 p-item">
                    <a class="<if condition='$i lt 5 AND $i neq 2'>padding</if>" href="{:U('Mall/detail')}/id/{$v.id}">
                        <empty name="v.thumb">
                            <img src="__IMG__/mall/thumb.jpg">
                            <else />
                            <img src="{$v.thumb}" />
                        </empty>
                        <h4>{$v.name}</h4>
                        <h5>￥{$v.price}</h5>
                    </a>
                </div>
            </volist>
        </div>
    </div>
</div>

<script src="__JS__/imagesLoaded.js"></script>
<script src="__JS__/masonry.pkgd.min.js"></script>

<script>
    $(function() {
        $("#carousel-index .carousel-indicators li").eq(0).addClass('active');
        $("#carousel-index .carousel-inner .item").eq(0).addClass('active');

        $('#carousel-index').carousel();

        var $list = $('.list-row');
        $list.imagesLoaded(function () {
            $list.masonry({
                columnWidth: '.p-item',
                itemSelector: '.p-item'
            });
        });


        var $top = $('.top-row');
        $top.imagesLoaded(function () {
            $top.masonry({
                columnWidth: '.p-item',
                itemSelector: '.p-item'
            });
        });
    })
</script>