<style>
    .banner{
        background-color: #d5d7d4;
    }
    #search-faq{
        cursor: pointer;
        background: #f5f5f5;
    }
    #search-faq img{
        height: 20px;
    }

    .container-faq{
        color: #000;
        text-align: center;
        margin: 50px auto;
        max-width: 750px;
    }
    .container-faq>h2{
        margin-bottom: 20px;
        font-family: "黑体", sans-serif;
        font-weight: bold;
    }
    .faq{
        padding: 5px 0;
    }
    .faq>h3{
        color: #3c3c3c;
    }
    .faq>h3>i{
        color: #168ee1;
        font-family: '宋体', sans-serif;
        font-size: 120%;
    }
    .faq>p{
        color: #4b4b4b;
        line-height: 1.9;
        font-size: 16px;
    }

    @media screen and (max-width: 640px) {
        .container-faq{
            margin-top: 20px;
        }
        .container-faq>h2{
            font-size: 18px;
        }
        .faq>h3{
            font-size: 16px;
            color: #000;
        }
        .faq>p {
            font-size: 14px;
        }
    }
</style>
<div class="banner text-center lazy bg-cover" data-original="__IMG__/product/wjx/faq/_bg.jpg">
    <div class="container">
        <h2>微家校使用小贴士</h2>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="搜索...">
            <div id="search-faq" class="input-group-addon"><img class="lazy" data-original="__IMG__/product/wjx/faq/search.png"></div>
        </div>
    </div>
</div>
<script>
    $(".navbar-path").addClass('alpha');
    $(function() {
        var data = [
            {
                name: '微家校APP安装',
                list: [
                    {question: '在哪里下载微家校APP', answer: '家长或老师可以下载安桌和苹果端APP，下载地址为：'},
                    {
                        question: '安装后如何绑定学生卡',
                        answer: '当您安装好手机端软件后，可以通过手机APP客户端远程设置儿童手机，设备绑定手机IMEI和号码，SOS号码可设置三个，亲情号码可绑定二位家长手机.还可以帮孩子设置一个好友手机号'
                    },
                    {question: '如何及时获取孩子安全信息', answer: '家长们可到安心星APP--学生安全管理平台中及时获取孩子安全信息'},
                    {question: '家长如何查看孩子是否按时上学放学', answer: '家长们可到安心星app--学生考勤中查看孩子上学及离校时间'},
                    {question: '孩子平时作业及成绩如何了解', answer: '家长们可到微家校APP--查看作业中了解老师布置的作业，每次考试成绩可到学生成绩中查看'},
                    {question: '如何了解孩子学校和班级最新的活动', answer: '家长们可到微家校APP，校方微官网通过通知公告查看'},
                    {question: '家长想要帮助孩子提前预习次日的功课怎么办', answer: '家长们可到微家校APP--班级课程中查看次日班级课程安排'},
                ]
            },
            {
                name: '产品指南',
                list: [
                    {
                        question: '为什么选择“微家校”产品',
                        answer: '技术强大、盈利清晰、进入门槛高、产品刚需、前景广阔<br>强大的技术团队，微家校团队中技术占比高达百分之七十，我们的产品迭代速度远超同类产品！<br>清晰的盈利模式，既有一次性收益，更有持续收益让您躺着也能赚钱！<br>产品刚需，符合学校、学生、家长三方利益，家校安全对于中小学生业说始终是热点问题.<br>前景广阔,在获取到一定量级用户之后，微家校更可以生长出更多的服务和更多的收入，盈利成长空间大！'
                    },
                    {question: '如何成为代理商', answer: '马上拨打电话4008-767-773<br>预约加盟<br>参观杭州总公司'},
                    {question: '成为代理商后有什么好处', answer: '代理收益，第一年收回投资成本，每年获得高额收益，弹性工作制'},
                    {
                        question: '微家校一站式服务方案有哪些',
                        answer: '详实的服务手册，教代理商如何快速落地！<br>成熟落地团队输送，为代理商解决后顾之忧！<br>产品终生免费升级服务,为代理商节约成本！<br>总部营销支持，为代理商提升业绩！'
                    },
                ]
            }
        ]

        $.each(data, function (i, b) {
            var list = $([
                '<div class="container container-faq">',
                '<h2 class="text-center">'+ b.name +'</h2>',
                '</div>',
            ].join('')).appendTo($("#body"));
            $.each(b.list, function (j, q) {
                $([
                    '<div class="faq">',
                    '<h3><i>Q' + (j + 1) + '：</i>' + q.question + '？</h3>',
                    '<p>答：' + q.answer + '</p>',
                    '</div>'
                ].join('')).appendTo(list)
            })
            if(i != data.length - 1) $("#body").append("<hr>")
        })
    })


</script>