<style>
    .banner{
        background-color: #d5d7d4;
    }
    #search-faq{
        cursor: pointer;
        background: #f5f5f5;
    }
    #search-faq img{
        height: 20px;
    }

    .container-faq{
        color: #000;
    }
    .faq{
        padding: 5px 0;
    }
    .faq>h4{

    }
    .faq>h4>i{
        color: #168ee1;
        font-family: '宋体', sans-serif;
        font-size: 22px;
    }
    .faq>p{

    }
</style>
<div class="banner text-center img-delay" data-bg="__IMG__/wjx/faq/_bg.jpg">
    <div class="container">
        <h2>微家校使用小贴士</h2>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="搜索...">
            <div id="search-faq" class="input-group-addon"><img src="__IMG__/wjx/faq/search.png"></div>
        </div>
    </div>
</div>
<div class="container container-faq">
    <h3 class="text-center">微家校APP安装</h3>
    <div class="faq">
        <h4><i>Q1：</i>在哪里下载微家校APP</h4>
        <p>答：家长或老师可以下载安卓和苹果端APP，下载地址www.weijiaxiao.cn</p>
    </div>

    <div class="faq">
        <h4><i>Q2：</i>在哪里下载微家校APP</h4>
        <p>答：家长或老师可以下载安卓和苹果端APP，下载地址www.weijiaxiao.cn</p>
    </div>

    <div class="faq">
        <h4><i>Q3：</i>在哪里下载微家校APP</h4>
        <p>答：家长或老师可以下载安卓和苹果端APP，下载地址www.weijiaxiao.cn</p>
    </div>

</div>
<hr>
<div class="container container-faq">
    <h3 class="text-center">微家校APP安装</h3>

    <div class="faq">
        <h4><i>Q1：</i>在哪里下载微家校APP</h4>
        <p>答：家长或老师可以下载安卓和苹果端APP，下载地址www.weijiaxiao.cn</p>
    </div>

    <div class="faq">
        <h4><i>Q2：</i>在哪里下载微家校APP</h4>
        <p>答：家长或老师可以下载安卓和苹果端APP，下载地址www.weijiaxiao.cn</p>
    </div>
</div>

<script>
    $(".navbar-path").addClass('alpha');
</script>