<style>
    .container-1{
        height: 500px;
    }

    .container-2{
        padding: 50px 0;
    }
    .container-2 h3{
        color: #02499c;
        margin-top: 15px;
        margin-left: 20px;
    }
    .container-2 p{
        margin-left: 20px;
    }

    .container-2 .img{
        max-width: 100%
    }

    @media screen and (max-width: 970px){

        .container-1{
            height: 300px;
        }
    }

    @media screen and (max-width: 640px){

        .container-1{
            height: 200px;
        }
    }

    @media screen and (max-width: 480px){

        .container-1{
            height: 180px;
        }
    }
</style>

<div class="container-1 lazy bg-cover" data-original="__IMG__/product/mdm/1.jpg"></div>
<div class="container-2">
    <div class="container">
        <div class="col-md-8">
            <div class="col-table">
                <div class="col-cell"><img src="__IMG__/product/mdm/2_1_1.png" /></div>
                <div class="col-cell"><h3>显示位置信息</h3><p>家长可实时掌握孩子的行踪轨迹，真正做到防拐防走失。</p></div>
            </div>
            <div class="col-table">
                <div class="col-cell"><img src="__IMG__/product/mdm/2_1_2.png" /></div>
                <div class="col-cell"><h3>手机锁屏管理</h3><p>家长可设置上课定时锁屏，课下、假日分时锁屏，让手机不再影响孩子的学习。</p></div>
            </div>
            <div class="col-table">
                <div class="col-cell"><img src="__IMG__/product/mdm/2_1_3.png" /></div>
                <div class="col-cell"><h3>手机应用管理</h3><p>家长可设置软件白名单，管理学生手机的APP软件。</p></div>
            </div>
            <div class="col-table">
                <div class="col-cell"><img src="__IMG__/product/mdm/2_1_4.png" /></div>
                <div class="col-cell"><h3>浏览网址管理</h3><p>家长可设置上网白名单，屏蔽不良网站对孩子影响。</p></div>
            </div>
            <div class="col-table">
                <div class="col-cell"><img src="__IMG__/product/mdm/2_1_5.png" /></div>
                <div class="col-cell"><h3>亲情电话管理</h3><p>家长可设置亲情号码，具有通讯、紧急求救功能，同时屏蔽垃圾短信、诈骗电话、推销电话。</p></div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img class="img" src="__IMG__/product/mdm/2_2.jpg">
        </div>
    </div>
</div>

<script>
    $(".navbar-path").addClass('absolute deep');
</script>