<style>
    .container-1{
        height: 500px;
    }
    .container-2 h2{
        color: #0586ff;
        margin-top: 100px;
        margin-bottom: 30px;
    }
    .container-2 p{
        color: #666;
    }
    .container-2 img{
        max-width: 100%;
    }
    .container-2{
        padding: 50px 0;
    }

    .container-2 h2.mtop40{
        margin-top: 40px;
    }
    .container-2.deep{
        background-color: #f9f9f9;
    }

    .read-more{
        color: #ffa256;
        cursor: pointer;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    @media screen and (max-width: 970px){
        .container-1{
            height: 300px;
        }
        .container-2 h2{
            font-size: 24px;
        }
    }

    @media screen and (max-width: 640px){

        .container-1{
            height: 200px;
        }
    }

    @media screen and (max-width: 480px){

        .container-1{
            height: 180px;
        }
    }
</style>

<div class="container-1 lazy bg-cover" data-original="__IMG__/product/wjx/1.jpg"></div>
<div class="container-2 deep">
    <div class="container">
        <div class="col-md-6"><img src="__IMG__/product/wjx/2_1.jpg"/></div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h2>家校互通功能</h2>
            <p>内置“家庭作业”、“通知公告”、“学生成绩”、“学生点评”<br>等功能，实现家长与老师的在线互动交流，帮助孩子健康成长。</p>
        </div>
    </div>
</div>
<div class="container-2">
    <div class="container">
        <div class="col-md-6">
            <h2>学生考勤功能</h2>
            <p>家长通过学生考勤功能够及时了解孩子是否安全到校、离校，<br>让家长放心，老师省心。</p>
        </div>
        <div class="col-md-6"><img src="__IMG__/product/wjx/2_2.jpg"/></div>
    </div>
</div>
<div class="container-2 deep">
    <div class="container">
        <div class="col-md-6"><img src="__IMG__/product/wjx/2_3.jpg"/></div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h2>安全守护功能</h2>
            <p>家长通过安全守护功能能够实时精准查看孩子的位置，<br>一键掌握孩子在哪，更好保障孩子的安全。</p>
            <h2 class="mtop40">更多功能</h2>
            <p>OA审批、学校微观网、学生成绩、作业信息、班级课程、<br>功能视频、家长帮等众多功能。</p>
            <h1 class="read-more">进一步了解</h1>
        </div>
    </div>
</div>

<script>
    $(".navbar-path").addClass('absolute');
    $(".read-more").click(function(){
        location.href = "{:U('Index/leave_msg')}";
    })
</script>