<style>
    .fp-section h3 a{
        text-decoration: none;
        color: #fff;
    }
    .fp-section .iphone {
        margin-left: 200px;
        position: absolute;
    }
    .fp-section .android {
        margin-top: 30px;
        min-width: 200px;
    }
    #fp-nav ul li a span, .fp-slidesNav ul li a span{
        border-color: #fff;
    }
    .h-txt{
        padding-top: 0;
        margin-left: -50%;
        display: block;
    }
    @media screen and (max-width: 991px){
        .fp-section .iphone {
           position: relative;
            margin-top: 30px;
            margin-left: 0;
        }
    }
    @media screen and (max-width: 768px){
        .h-txt{
            padding-top: 30px;
            margin: auto;
        }
    }
</style>
<div class="fp-section bg-cover" style="background-image: url('__IMG__/product/wjx/download/bg1.jpg')">
    <div class="container">
        <div class="col-xs-12">
            <div class="v-txt bottom">
                <h3><a href="https://itunes.apple.com/US/app/id928380130" target="_blank">微家校iOS端下载</a></h3>
                <!--<p>微家校iOS端下载微家校iOS端下载微家校iOS端下载微家校iOS端下载</p>-->
                <img class="iphone" src="__IMG__/product/wjx/download/iphone.jpg">
            </div>
        </div>
        <div class="col-xs-12">
            <img src="__IMG__/product/wjx/download/_1.png">
        </div>
    </div>
</div>
<div class="fp-section bg-cover" style="background-image: url('__IMG__/product/wjx/download/bg2.jpg')">
    <div class="container">
        <div class="col-sm-8 hidden-xs">
            <img class="android" src="__IMG__/product/wjx/download/_2.png">
        </div>
        <div class="col-sm-4">
            <div class="h-txt">
                <h3><a href="http://shouji.baidu.com/software/10346936.html" target="_blank">微家校Andriod端下载</a></h3>
                <!--<p>微家校Andriod端下载微家校Andriod端下载微家校Andriod端下载微家校Andriod端下载微家校Andriod端下载</p>-->
                <img class="android" src="__IMG__/product/wjx/download/android.jpg">
            </div>
        </div>
    </div>
</div>

<script>
    $(".navbar-path").addClass('alpha deep')
    $('#fullpage').fullpage({
        sectionsColor: ['#a49a8e', '#5c5c57'],
        'navigation': true,
        afterLoad: function (anchorLink, index) {
            switch (index) {
                case 1:
                    break;
                case 2:
                    break;
            }
        },
        onLeave: function (index, direction) {
            switch (index) {
                case 1:
                    break;
                case 2:
                    break;
            }
        }
    });
</script>