<footer id="footer">
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-4">
                <ul class="footer-nav">
                    <volist name="menus" id="v">
                        <eq name="v.sitemap" value="1">
                            <li>
                                <label><a target="_blank" href="{$v.link}"> {$v.name}</a></label>
                                <volist name="v.list" id="vv">
                                    <eq name="vv.sitemap" value="1">
                                        <a target="_blank" href="{$vv.link}"> {$vv.name}</a>
                                    </eq>
                                </volist>
                            </li>
                        </eq>
                    </volist>
                </ul>
            </div>
            <div class="hr"></div>
            <div class="col-md-4">
                <div class="contact-way text-center">
                    <div class="kefu-qq">
                        <img src="__IMG__/common/icon_qq.png">
                        <h6>客服QQ</h6>
                    </div>
                    <div class="line text-left">客服：{$kefu.qq}&nbsp;&nbsp;
                        <a class="qq-chat" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$kefu.qq}&site=qq&menu=yes">QQ交谈</a>
                    </div>
                    <div class="line text-left">电话：{$kefu.mobile}</div>
                </div>
            </div>
            <div class="hr second"></div>
            <div class="col-md-4 qr-code text-center">
                <div class="col-xs-6">
                    <div>微信公众号</div>
                    <img src="__IMG__/common/qrcode_wx.png">
                </div>
                <div class="col-xs-6">
                    <div>今日头条号</div>
                    <img src="__IMG__/common/qrcode_jrtt.png">
                </div>
            </div>
        </div>
        <hr>
        <div class="row friendly-link underline text-center">
            <volist name="links" id="v">
                <a target="_blank" href="{$v.value}">{$v.key}</a>
            </volist>
        </div>
    </div>
    <div class="footer-bottom text-center" style="display: block">
        <empty name="foot_txt">
            Copyright &copy; 2006-{:date('Y')} &nbsp;&nbsp; 杭州远磐互联科技有限公司&nbsp;&nbsp;微家校&nbsp;&nbsp;版权所有&nbsp;&nbsp;浙IC备14011429号-1
            <else/>
            {$foot_txt}
        </empty>
    </div>
</footer>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__JS__/bootstrap.min.js"></script>
</body>
</html>