<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title><notempty name="title">{$title}<else/>杭州远磐互联科技有限公司</notempty></title>
    <notempty name="keywords"><meta name="Keywords" content="{$keywords}"></notempty>

    <notempty name="description"><meta name="Description" content="{$description}"></notempty>

    <script src="__JS__/jquery-1.10.2.min.js"></script>
    <script src="__PLUGIN__/layer/layer.js"></script>
    <eq name='is_mobile' value='true'>
        <script src="__JS__/fastclick.js"></script>
    </eq>
    <script src="__JS__/jquery.lazyload.min.js"></script>
    <script src="__JS__/custom.js?t={$cdn_time_flag}"></script>

    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/bootstrap-reset.css" rel="stylesheet">

    <link href="__CSS__/style.css?t={$cdn_time_flag}" rel="stylesheet">
    <link href="__CSS__/style-responsive.css?t={$cdn_time_flag}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="__JS__/respond.min.js"></script>
    <script src="__JS__/html5shiv.min.js"></script>
    <![endif]-->

    <script>
        //页面常量
        panyard = {
            'indexnav': '{$indexnav}',
            'u_leave_msg': "<eq name='is_mobile' value='true'>{:U('Mobile/Index/leave_msg')}<else/>{:U('Index/leave_msg')}</eq>",
            'u_contact_online':'https://ikefu.baidu.com/wise/panyard',
            'is_mobile': "{$is_mobile}" == '1',
        }

        ;(function(w,d){

            /*百度统计js*/
            /*<eq name='is_mobile' value='true'>*/
            var hm = d.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?6fa9ab1ca30f2c7c97a330d80906b450";
            var s = d.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);

            /*FastClick*/
            $(function() {
                FastClick.attach(document.body);
            });
            /*<else/>*/
            var hm = d.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?54ed6d667a120fb761445f378386b9af";
            var s = d.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);

            /*</eq>*/

            /*谷歌统计js*/
            ;(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(w,d,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-72376317-2', 'auto');
            ga('send', 'pageview');

        })(window,document)

    </script>