<include file="Default/Layout/header" />
<notempty name="keywords"><meta name="Keywords" content="{$keywords}"></notempty>
<notempty name="description"><meta name="Description" content="{$description}"></notempty>
</head>

<body>

<include file="Default/Layout/navbar" />

<nav class="nav-right">
    <ul>
        <li><span>建议<br>意见</span></li>
        <li><span>联系<br>客服</span></li>
        <li class="top" style="opacity:0"><img src="__IMG__/common/top.png"></li>
    </ul>
</nav>

<div id="body">
    <include file="Default/Layout/breadcrumb" />
    {__CONTENT__}
</div>

<include file="Default/Layout/footer" />